.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
.choose{


padding-top: 19%;
width: 14.3cm;
margin-top: -62px;
margin-left: -63px;

}
.nav {
    background-color: #57e7ba;
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin-top: -80px;
    padding-bottom: 5%;
    border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  .nav a {
    margin-left: 10%;
    display: block;
    color: #000000;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 18px;

    margin-bottom: -6px;
  }
  .bo{
border: #000000 1px solid;
    background-color: white;
margin-top: 14px;
border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  